
.logo{
  height: 1.25rem;
}

body{
  color: white;
  background-color: black;

  font-family: "Roboto":sans-serif;
}
.d-block{
  width: 100vw;
  height: 50vw;
}

.final{
  width: 60%;
}
.contactos {
  color: #ffffff;
  text-decoration: none;
}
.only-mobile{
  display: none;

}

@media (min-width:1000px) {
  .only-mobile{
    display: block;
  }

}
.cabeceraOscura{
  background-color: rgba(0, 0, 0,0.5);

}
.footer{
  font-size: 2rem;
}
